body {
    font-family: 'Montserrat', sans-serif;
    background: radial-gradient(#525252, #131313);
}

.navContainer {
    background-color: black;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
} 

nav {
    width: 80%;
    display: flex;
    justify-content: center;
}

.logo {
    font-size: 2.5rem;
    font-family: "Lobster", sans-serif;
    font-weight: lighter;
    width: 70%;
    padding-left: 5%;
    color: white;
}
  

.navBar {
    width: 30%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

li {
    font-weight: 600;
}

li:hover {
    color: #f54538;
} 

header {
    background-image: url("images/gimnasio-ejercicio-deporte.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h2 {
    color: #f54538;
}

.headerInfoFull {
    background: linear-gradient(to left bottom, rgba(27, 27, 27, 0.8), rgba(0, 0, 0, 0.9));
    padding: 2rem;
    position: absolute;
    top: 30%;
    right: 10%;
    height: 43vh;
    border-radius: 1rem;
    width: 20%;
}

.headerInfo {
    background: linear-gradient(to left bottom, rgba(27, 27, 27, 0.8), rgba(0, 0, 0, 0.9));
    padding: 2rem;
    position: absolute;
    display: none;
    top: 30%;
    right: 10%;
    height: 40vh;
    border-radius: 1rem;
    width: 20%;
}

@media screen and (max-height: 700px),(max-width:1400) {
    .headerInfoFull {
        display: none;
        
    }
    .headerInfo {
        display: inline-block;
    }
}
    

.bienvenida {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 400px;
    color: rgb(167, 167, 167);
}

.textoHeader {
    display: none;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.textoHeaderFull {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1400px) {
    .textoHeader {
        display: flex;
        font-size: 0.8rem;
    }
    .textoHeaderFull {
        display: none;
    }
    .bienvenida {
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        padding: 0;
        margin: 0;
        font-weight: 400px;
        color: rgb(167, 167, 167);
    }
    .subtBienvenida {
        font-size: 0.9rem;
    }
    
}


.botonEmpezar {
    border: none;
    border-radius: 1rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3vh;
    padding: 0.6rem;
    background-color: white;
}

.botonEmpezar:hover {
    background-color: #f54538;
}

.tiposServicios {
    margin: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1rem 1rem;
}

.imgService {
    height: 40vh;
    width: 50%;
    border-radius: 1rem;
}

.descripcionServicio {
    color: white;
    padding: 0 5rem;
}

.contacto {
    display: flex;
    align-items: center;
    padding-bottom: 10rem;
    padding-left: 2rem;
}

.redesSociales {
    padding-left: 50%;
}

.formulario {
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #131313;
    color: white;
}